{% extends 'admin.base.html.twig' %}


{% block title %} Ajouter une marque{% endblock %}

{% block stylesheets %}{% endblock %}
{% block body %}

    {% include 'admin/partials/navbar.html.twig'%}


    <div class="content-wrapper">
        <div class="container-fluid">
            {% include 'admin/partials/flash.html.twig'%}
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Ajouter une marque</li>
            </ol>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">Ajouter la marque</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}



