{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}

    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-12 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">NOS MARQUES</h2>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/TOYOTA">
                                            <img src="/image/carlogo/TOYOTA.png" alt="voiture TOYOTA" />
                                        </a>

                                        <p><h4 class="h4">TOYOTA</h4></p>
                                        <a href="/marques/fr/TOYOTA" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/HYUNDAI">
                                            <img src="/image/carlogo/HYUNDAI.jpg" alt="voiture HYUNDAI" />
                                        </a>

                                        <p><h4 class="h4">HYUNDAI</h4></p>
                                        <a href="/marques/fr/HYUNDAI" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/AUDI">
                                            <img src="/image/carlogo/AUDI.png" alt="voiture AUDI" />
                                        </a>

                                        <p><h4 class="h4">AUDI</h4></p>
                                        <a href="/marques/fr/AUDI" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/HONDA">
                                            <img src="/image/carlogo/HONDA.png" alt="voiture HONDA" />
                                        </a>

                                        <p><h4 class="h4">HONDA</h4></p>
                                        <a href="/marques/fr/HONDA" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/VOLKSWAGEN">
                                            <img src="/image/carlogo/VOLKSWAGEN.jpg" alt="voiture VOLKSWAGEN" />
                                        </a>

                                        <p><h4 class="h4">VOLKSWAGEN</h4></p>
                                        <a href="/marques/fr/VOLKSWAGEN" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/SEAT">
                                            <img src="/image/carlogo/SEAT.jpg" alt="voiture SEAT" />
                                        </a>

                                        <p><h4 class="h4">SEAT</h4></p>
                                        <a href="/marques/fr/SEAT" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/SKODA">
                                            <img src="/image/carlogo/SKODA.png" alt="voiture SKODA" />
                                        </a>

                                        <p><h4 class="h4">SKODA</h4></p>
                                        <a href="/marques/fr/SKODA" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/LEXUS">
                                            <img src="/image/carlogo/LEXUS.png" alt="voiture LEXUS" />
                                        </a>

                                        <p><h4 class="h4">LEXUS</h4></p>
                                        <a href="/marques/fr/LEXUS" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/OCCASIONS">
                                            <img src="/image/carlogo/OCCASIONS.jpg" alt="voiture OCCASIONS" />
                                        </a>

                                        <p><h4 class="h4">OCCASIONS</h4></p>
                                        <a href="/marques/fr/OCCASIONS" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="/marques/fr/MERCEDES-BENZ">
                                            <img src="/image/carlogo/MERCEDES-BENZ.jpg" alt="voiture MERCEDES-BENZ" />
                                        </a>

                                        <p><h4 class="h4">MERCEDES-BENZ</h4></p>
                                        <a href="/marques/fr/MERCEDES-BENZ" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div><!--features_items-->

                    <div class="category-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tshirt" data-toggle="tab">VÉHICULES DU MOMENT</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tshirt" >
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/show/fr/HYUNDAI-1.0 T-GDI 120 BVM6 Edition 1-HYUNDAI I30 SW-Noir-4">
                                                    <img src="/image/shop/HYUNDAI-1.0 T-GDI 120 BVM6 Edition 1-HYUNDAI I30 SW-Noir-4-photo-1.jpg" alt="HYUNDAI-1.0 T-GDI 120 BVM6 Edition 1-HYUNDAI I30 SW-Noir-4" />
                                                </a><a href="/show/fr/HYUNDAI-1.0 T-GDI 120 BVM6 Edition 1-HYUNDAI I30 SW-Noir-4">
                                                    <h2>16 990<sup>€</sup></h2>
                                                    <p><strong>HYUNDAI 1.0 T-GDI 120 BVM6 Edition 1</strong></p></a>
                                                <a href="/show/fr/HYUNDAI-1.0 T-GDI 120 BVM6 Edition 1-HYUNDAI I30 SW-Noir-4" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Plus d'infos</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/show/fr/TOYOTA-LCA 2016-TOYOTA YARIS HYBRIDE-Blanc-3">
                                                    <img src="/image/shop/TOYOTA-LCA 2016-TOYOTA YARIS HYBRIDE-Blanc-3-photo-1.jpg" alt="TOYOTA-LCA 2016-TOYOTA YARIS HYBRIDE-Blanc-3" />
                                                </a><a href="/show/fr/TOYOTA-LCA 2016-TOYOTA YARIS HYBRIDE-Blanc-3">
                                                    <h2>19 600<sup>€</sup></h2>
                                                    <p><strong>TOYOTA LCA 2016</strong></p></a>
                                                <a href="/show/fr/TOYOTA-LCA 2016-TOYOTA YARIS HYBRIDE-Blanc-3" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Plus d'infos</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/show/fr/AUDI-AUDI SEYNOD-1.6 TDI 110 Attraction-Rouge-2">
                                                    <img src="/image/shop/AUDI-AUDI SEYNOD-1.6 TDI 110 Attraction-Rouge-2-photo-1.jpg" alt="AUDI-AUDI SEYNOD-1.6 TDI 110 Attraction-Rouge-2" />
                                                </a><a href="/show/fr/AUDI-AUDI SEYNOD-1.6 TDI 110 Attraction-Rouge-2">
                                                    <h2>16 490<sup>€</sup></h2>
                                                    <p><strong>AUDI AUDI SEYNOD</strong></p></a>
                                                <a href="/show/fr/AUDI-AUDI SEYNOD-1.6 TDI 110 Attraction-Rouge-2" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Plus d'infos</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/show/fr/AUDI-TRONIC 7 QUATTRO S line-55 PLUG-IN HYBRID TFSI 367 S-Gris-1">
                                                    <img src="/image/shop/AUDI-TRONIC 7 QUATTRO S line-55 PLUG-IN HYBRID TFSI 367 S-Gris-1-photo-1.jpg" alt="AUDI-TRONIC 7 QUATTRO S line-55 PLUG-IN HYBRID TFSI 367 S-Gris-1" />
                                                </a><a href="/show/fr/AUDI-TRONIC 7 QUATTRO S line-55 PLUG-IN HYBRID TFSI 367 S-Gris-1">
                                                    <h2>65 827<sup>€</sup></h2>
                                                    <p><strong>AUDI TRONIC 7 QUATTRO S line</strong></p></a>
                                                <a href="/show/fr/AUDI-TRONIC 7 QUATTRO S line-55 PLUG-IN HYBRID TFSI 367 S-Gris-1" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Plus d'infos</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/category-tab-->
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/footer.html.twig' %}

{% endblock %}
